<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>
<body>
    Tasks:
    <form action="{% url 'task-search' %}" method="GET">
        <input type="search" name="search_text">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li><a href="{% url 'task-detail' task.id %}">{{ task.title }}</a> <a href="{% url 'task-update' task.id %}">Update</a> <a href="{% url 'task-delete' task.id %}">Delete</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'task-create' %}">Create task</a>
</body>
</html>