@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rubik+Bubbles&display=swap');

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to top right, rgb(199, 223, 255) 5%, rgb(194, 221, 247), rgb(208, 238, 255));
    background-size: 100% 100%;
}

.container {
    background-color: rgb(132, 164, 194);
    width: 1120px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    font-family: "Pangolin";
}

.header-area {
    justify-content: space-between;
    background-color: rgb(108, 173, 235);
    border-radius: 20px 20px 0 0;
}

.search-area {
    display: flex;
    justify-content: flex-start;
}

.search-string {
    vertical-align: middle;
    height: 30px;
    width: 300px;
    border: 1px solid lightblue;
    border-radius: 7px;
    font-size: 13px;
}

.search-button {
    vertical-align: middle;
    height: 30px;
    width: 30px;
    border: 1px solid lightblue;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}

#SearchSVG {
    vertical-align: middle;
    color: lightblue;
}

#main-header-text {
    color: white;
    font-size: 60px;
    margin: 0;
    padding-bottom: 30px;
}

