html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to top right, rgb(199, 223, 255) 5%, rgb(194, 221, 247), rgb(208, 238, 255));
    background-size: 100% 100%;
}

h1 {
    color: white;
}

.container {
    background-color: rgb(117, 178, 235);
    margin: 60px 400px 0 400px;
    padding: 20px;
    border-radius: 20px;
}

.search-area {
    display: flex;
    justify-content: flex-start;
}

.search-string {
    vertical-align: middle;
    height: 30px;
    width: 300px;
    border: 1px solid lightblue;
    border-radius: 7px;
    font-size: 13px;
}

.search-button {
    vertical-align: middle;
    height: 30px;
    width: 30px;
    border: 1px solid lightblue;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}

#SearchSVG {
    vertical-align: middle;
    color: lightblue;
}